{% extends "layout.html" %}
{% block content %}
<div class="row">
	<div class="col-md-8">

		<div class="content-section">
			<form method="POST" action="">
				{{ form.hidden_tag() }}

				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Query Search</legend>
					<div class="form-group">
						{{ form.query_terms.label(class="form-control-label") }}
						{% if form.query_terms.errors %}
						{{ form.query_terms(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.query_terms.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
						{% else %}
						{{ form.query_terms(class="form-control form-control-lg") }}
						{% endif %}
					</div>
				</fieldset>
				<div class="form-group">
					{{ form.submit(class="btn btn-outline-info") }}
				</div>
			</form>
		</div>
		<div class="border-top pt-3">
			<small class="text-muted">
				Want to update the inverted index list? It may take around 30 mins. <a class="ml-2" href="{{ url_for('update') }}"> Click to update </a>
			</small>
		</div>
	</div>

	<div class="col-md-4">
		<div class="content-section">
			<h3>Statistics</h3>
			<p class='text-muted'>Inverted Index Information
				<ul class="list-group">
					<li class="list-group-item list-group-item-light"> There are {{num_documents}} documents</li>
					<li class="list-group-item list-group-item-light"> There are {{num_terms}} terms</li>
				</ul>
			</p>
		</div>
	</div>
</div>
{% endblock content %}


